#Drill to Financials Detail - Actuals
['Actuals' ] = S: IF(ELLEV('Period', !Period) = 0,
		'Forecast_to_FinancialsDetail',
		Continue );

['Forecast' ] = S: IF((ATTRN('Period',DB('Control Panel',!Version,'Starting Forecast Period','Value'),'Month Sequence') > ATTRN( 'Period', !Period, 'Month Sequence' ))
		& ELLEV('Period', !Period) = 0 ,
		'Forecast_to_FinancialsDetail',
		Continue );

#Drill to Labor Forecast for Forecast periods
['Forecast' ] = S: IF((ATTRN('Period',DB('Control Panel',!Version,'Starting Forecast Period','Value'),'Month Sequence') <= ATTRN( 'Period', !Period, 'Month Sequence' )) &
	ELISANC('Account','Salary and Fringe',!Account) = 1 ,
		'Forecast_to_LaborForecast',
		Continue );

#Drill to Capital Expenditure Analysis for Forecast periods
['Forecast' ] = S: IF((ATTRN('Period',DB('Control Panel',!Version,'Starting Forecast Period','Value'),'Month Sequence') <= ATTRN( 'Period', !Period, 'Month Sequence' )) &
	ELISANC('Account','Depreciation & Amortization',!Account) = 1 ,
		'Forecast_to_CapEx',
		Continue );

#Drill to Expense Detail
['Forecast' ] = S: IF((ATTRN('Period',DB('Control Panel',!Version,'Starting Forecast Period','Value'),'Month Sequence') <= ATTRN( 'Period', !Period, 'Month Sequence' )) &
	ELISANC('Account','Travel & Entertainment',!Account) = 1 ,
		'Forecast_to_ExpenseDetail',
		Continue );


