SkipCheck;

[]=If(ELISANC('Version','All Reporting Versions',!Version) =1,STET,Continue);

#region Actuals
[ Version:'Actuals', ForecastMeasure:'Forecast Entry' ] = N:
	DB('Financials', !Currency, !Department, !Account, !Period, 'Ending Balance');


#Actuals Overlay
[ForecastMeasure:'Forecast Entry'] = N: IF(
	DB('Control Panel',!Version,'Starting Forecast Period','Numeric Value') >
	ATTRN( 'Period', !Period, 'Month Sequence' ),
		[Version:'Actuals'],
		Continue
          );

#endregion

#region Ending Period Calculation
## Defines Ending Period for Consolidations


[Account:'Balance Sheet'] = C: IF (
               ELLEV('Period', !Period) > 0,
	DB('Forecast', !Version, !Currency, !Department, !Account, 'Period':ATTRS('Period', !Period, 'Period End'), !Forecast Measure) ,
	      Continue) ;
#[ ] = C: IF (
#               ELLEV('Period', !Period) > 0 &
#               ELISANC('Account', 'Balance Sheet', !Account) > 0,
#	DB('Forecast', !Version, !Currency, !Department, !Account, 'Period':ATTRS('Period', !Period, 'Period End'), !Forecast Measure) ,
#	      Continue) ;

#endregion

#Labor forecast
#Region Labor Forecast

[Currency:'Local', ForecastMeasure:'Forecast Entry'] = N: IF (
		ATTRS('Account',!Account,'Forecast Source') @= 'Labor Forecast',
		DB('Labor Forecast', !Version, !Currency, 'All Employees', !Department,
			ATTRS('Account',!Account,'Forecast Source Account'), !Period, 'Forecast Entry'),
		Continue );

#Expense Detail
#Region Expense Detail

[Currency:'Local', ForecastMeasure:'Forecast Entry'] = N: IF (ELISANC('Account', 'Travel & Entertainment', !Account) = 1,
		DB('Expense Detail', !Version, !Currency, !Department,
			!Account, 'All Line Ids', !Period, 'Forecast Entry'),
		Continue );


#[Currency:'Local', ForecastMeasure:'Forecast Entry'] = N: IF (
#	(ELISANC('Account', 'Benefits', !Account) = 1 %
#	 ELISANC('Account', 'Compensation', !Account) = 1),
#	0,
#	Continue );

#EndRegion



#End Labor Forecast

#Region Forecast Driver Calculations

['Forecast Entry','local'] = N: If (long(trim(DB('Forecast Driver Assumptions',!Version,!Department,!Account,!Period,'Method'))) > 0,
	DB('Forecast Driver Assumptions',!Version,!Department,!Account,!Period,'Value'),
	Continue);

#EndRegion


#region Income Statement Calculations



['Percent of Gross Margin'] = [Account:'Gross Profit','Total'] \ [Account:'Revenue',Department:'All Departments','Total'];

#endregion


## Test Hierarchy rule:
#[Period:'Dec YTD', '2018'] = C: 0;
## Alt Hierarchy rule - Transfer the Dec YTD balance to All YTD
[Period: 'All YTD'] = C: [Period: 'Dec YTD'];


Feeders;

[ Version:'Actuals', ForecastMeasure:'Forecast Entry'] => ['All Working Versions'];


#Cash Flow Statement Feeders:
#['Net Income' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Net Income', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Accounts Receivable' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Receivables', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Inventory' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Inventory', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Other Current Assets' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Other Current Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Accounts Payable' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Payables', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Accrued Expenses' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Accrued Expenses', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Deferred Assets' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Deferred Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Long-term Tax Assets' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Long-term Tax Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Long-term Deferred Assets' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Long-term Deferred Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Restricted Cash-LT' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Restricted Cash-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Restricted Cash-ST' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', '(Inc)/Dec in Restricted Cash-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');




#['Other Current Liabilities' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Other Current Liabilities', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Deferred Liabilities-ST' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Deferred Liabilities-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['29050' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Deferred Tax Liability-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

#['Deferred Revenue-ST' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Deferred Revenue-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Deferred Revenue-LT' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Inc/(Dec) in Deferred Revenue-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

#['Debt-ST' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Receipts/(Payments) of Short-Term Debt', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['29010' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Receipts/(Payments) of Capital Lease Obligations', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');


#['Fixed Assets (Net)' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Sales/(Purchases) of Plant & Equipment', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

#['Common Stock' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Proceeds/(Purchases) of Common Stock', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
#['Preferred Stock' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Proceeds/(Purchases) of Preferred Stock', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

#['Convertible Promissory Note-LT' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Receipts/(Payments) of Long-Term Debt', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');



#['Additional Paid in Capital' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Proceeds/(Purchases) of Additional Paid-in Capital', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

#['Cash, Cash Equivalents and Investments' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Cash at Beginning of Period', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');


#['Depreciation & Amortization' ] => DB('Cash Flow Indirect',!Version,'Local', 'All Companies', 'Depreciation & Amortization', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

##########################
### Cash Flow Statement Feeders ###
##########################

## Cash Flow feeders without overfeeding and feeding of the next period - 4/11/2023

## Net Income
[Version:'Forecast',Account:'Net Income', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Net Income', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

## Accounts Receivable
[Version:'Forecast',Account:'Accounts Receivable', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Receivables', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Accounts Receivable', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Receivables', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Inventory
[Version:'Forecast',Account:'Inventory', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Inventory', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Inventory', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Inventory', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Other Current Assets
[Version:'Forecast',Account:'Other Current Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Other Current Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Other Current Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Other Current Assets', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Accounts Payable
[Version:'Forecast',Account:'Accounts Payable', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Payables', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Accounts Payable', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Payables', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Accrued Expenses
[Version:'Forecast',Account:'Accrued Expenses', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Accrued Expenses', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Accrued Expenses', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Accrued Expenses', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Deferred Assets
[Version:'Forecast',Account:'Deferred Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Deferred Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Deferred Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Deferred Assets', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Long-term Tax Assets
[Version:'Forecast',Account:'Long-term Tax Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Long-term Tax Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Long-term Tax Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Long-term Tax Assets', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Long-term Deferred Assets
[Version:'Forecast',Account:'Long-term Deferred Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Long-term Deferred Assets', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Long-term Deferred Assets', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Long-term Deferred Assets', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Restricted Cash-LT
[Version:'Forecast',Account:'Restricted Cash-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Restricted Cash-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Restricted Cash-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Restricted Cash-LT', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Restricted Cash-ST
[Version:'Forecast',Account:'Restricted Cash-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Restricted Cash-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Restricted Cash-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), '(Inc)/Dec in Restricted Cash-ST', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Other Current Liabilities
[Version:'Forecast',Account:'Other Current Liabilities', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Other Current Liabilities', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Other Current Liabilities', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Other Current Liabilities', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Deferred Liabilities-ST
[Version:'Forecast',Account:'Deferred Liabilities-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Liabilities-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Deferred Liabilities-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Liabilities-ST', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## 29050
[Version:'Forecast',Account:'29050', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Tax Liability-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'29050', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Tax Liability-LT', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Deferred Revenue-ST
[Version:'Forecast',Account:'Deferred Revenue-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Revenue-ST', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Deferred Revenue-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Revenue-ST', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Deferred Revenue-LT
[Version:'Forecast',Account:'Deferred Revenue-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Revenue-LT', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Deferred Revenue-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Inc/(Dec) in Deferred Revenue-LT', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Debt-ST
[Version:'Forecast',Account:'Debt-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Short-Term Debt', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'Debt-ST', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Short-Term Debt', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## 29010
[Version:'Forecast',Account:'29010', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Capital Lease Obligations', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Next Period
[Version:'Forecast',Account:'29010', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Capital Lease Obligations', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Fixed Assets (Net)
[Version:'Forecast',Account:'Fixed Assets (Net)', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Sales/(Purchases) of Plant & Equipment', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Fixed Assets (Net)', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Sales/(Purchases) of Plant & Equipment', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Common Stock
[Version:'Forecast',Account:'Common Stock', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Common Stock', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Common Stock', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Common Stock', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');


## Preferred Stock
[Version:'Forecast',Account:'Preferred Stock', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Preferred Stock', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Preferred Stock', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Preferred Stock', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Convertible Promissory Note-LT
[Version:'Forecast',Account:'Convertible Promissory Note-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Long-Term Debt', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Convertible Promissory Note-LT', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Receipts/(Payments) of Long-Term Debt', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');


## Additional Paid in Capital
[Version:'Forecast',Account:'Additional Paid in Capital', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Additional Paid-in Capital', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Additional Paid in Capital', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Proceeds/(Purchases) of Additional Paid-in Capital', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');

## Cash, Cash Equivalents and Investments
[Version:'Forecast',Account:'Cash, Cash Equivalents and Investments', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Cash at Beginning of Period', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');
# Feed the next period
[Version:'Forecast',Account:'Cash, Cash Equivalents and Investments', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Cash at Beginning of Period', Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 1,4), 'M' | Subst(DB( '}ElementAttributes_Period', !Period, 'Next Period' ), 6,2),'Forecast Entry');


## Depreciation & Amortization
[Version:'Forecast',Account:'Depreciation & Amortization', ForecastMeasure:'Total'] => DB('Cash Flow Indirect',!Version,'Local', SUBST(!Department, 1, 2), 'Depreciation & Amortization', Subst(!Period, 1,4), 'M' | Subst(!Period, 6,2),'Forecast Entry');

### End of Cash Flow Statement Feeders ###


